* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.html {
  font-size: 62.5%;
  font-family: inherit;
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: row;
}

.topHeading {
  margin-bottom: 1rem;
}

.subHeader {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
