.dashboard {
  height: 100vh;
  width: 70vw;
  padding: 2rem 2rem 0rem 2.5rem;
  /* background-color: #e8eaee; */
  background-color: white;
}

.quickStatsContainer {
  display: flex;
  flex-direction: row;
}

.quickStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 7rem;
  background-color: #FFFFFF;
  margin: 0 1rem;
  border-radius: 25px;
  background-color: rgb(250, 250, 250);
  box-shadow: 2px 3px 3px rgba(0,0,0,.15);
}

.quickStatHeadline {
  font-weight: 400;
  font-size: .9rem;
  margin-bottom: 0.2rem;
}

.quickStatNumber {
  font-size: 2rem;
  font-weight: 600;
}

.quickStat:first-child {
  margin-left: 0;
}

.worstPerformer {
  background-color: rgba(255, 0, 0, 0.5);
}

.bestPerformer {
  background-color: rgba(0, 255, 0, .5);
}
