.ranking {
  width: 20vw;
  padding: 1.5rem;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.15);
  background-color: #525355;
}

.rankingsHeadline {
  margin-bottom: 1.2rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

.ticker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(
    to right,
    rgb(203, 203, 217),
    rgb(200, 200, 210)
  );
  border-radius: 25px;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.rankingLogo {
  width: 5rem;
  margin-right: 1rem;
}

.tickerAndUser {
  display: flex;
  flex-direction: column;
}
.user {
  color: rgb(39, 39, 39);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
